backend:
  storage:

    secret_data:
      local:
        generate_secrets:
          enabled: True

        secrets:
          enabled: False
          secrets_name:
            api_key: "${API_KEY}"
            jwt_key: "${JWT_KEY}"
            cosign_key: "${COSIGN_KEY}"

      secret_manager:
        aws:
          enabled: False
          secret_manager_name: "${SECRET_MANAGER_NAME}"
          secrets_name:
            api_key: "secret_api_key"
            jwt_key: "secret_jwt_key"
            cosign_key: "secret_cosign_key"
    
    token_key_database:
      local:
        enabled: True
      
      external_database:
        enabled: False
        username: "${EXTERNAL_DB_USERNAME}"
        password: "${EXTERNAL_DB_PASSWORD}"
        db_name: "${EXTERNAL_DB_NAME}"
        db_host: "${EXTERNAL_DB_HOST}"

    scan_data:
      local:
        enabled: True
        
      aws:
        s3_bucket:
          enabled: False
          bucket: "${BUCKET}"
          bucket_key: "${BUCKET_KEY}"

    cleanup:
      cleanup_entries:
        enabled: False
        max_entries: 5
      
      cleanup_old_entries:
        enabled: False
        always_keep_entries: 2
        max_entry_age:
          month: 0
          week: 0
          day: 7
    
  export_log:
    https:
      enabled: False
      export_url: "${EXPORT_URL}"
      export_url_api_key: "${EXPORT_URL_API_KEY}"

    opentelemetry:
      enabled: False
      export_url: "${EXPORT_URL}"
      export_url_api_key: "${EXPORT_URL_API_KEY}"
      service_name: "${SERVICE_NAME}"
      environment: "${ENVIRONMENT}"
    
  scheduled_rescan:
    enabled: True
    rescan_interval:
      month: 0
      week: 0
      day: 1
        
auth:
  aws:
    enabled: False
    aws_access_key_id: "${AWS_ACCESS_KEY_ID}"
    aws_secret_access_key: "${AWS_SECRET_ACCESS_KEY}"
    aws_default_region: "${AWS_DEFAULT_REGION}"