name: Base Orchestrator Pipeline

on:
  push:

jobs:  verify-gitignore:
    if: always()
    uses: ./.github/workflows/verify-gitignore.yaml
    secrets:
      GH_TOKEN: ${{ secrets.GH_REPO_PAT }}
      # gitignore verify secrets
