name: Base Orchestrator Pipeline

on:
  push:

permissions:
  contents: read
  packages: write

jobs:

  check-backend-changes:
    runs-on: ubuntu-latest
    outputs:
      backend_changed: ${{ steps.check.outputs.backend_changed }}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Check if Backend changed
        id: check
        run: |
          CHANGED=$(git diff --name-only HEAD^ HEAD | grep '^src/Backend/' || true)
          if [ -z "$CHANGED" ]; then
            echo "[+] Backend not changed"
            echo "backend_changed=false" >> $GITHUB_OUTPUT
          else
            echo "[+] Backend changed"
            echo "backend_changed=true" >> $GITHUB_OUTPUT
          fi

  trigger-docker-build-backend:
    needs: check-backend-changes
    if: needs.check-backend-changes.outputs.backend_changed == 'true'
    uses: ./.github/workflows/docker-builder.yml
    with:
      WORK_DIR: "./src/Backend"
      IMAGE_NAME: "ghcr.io/bblue530/patchhound_backend"
      IMAGE_TAG: "latest"

  trigger-patchhound-scan:
    if: always()
    uses: ./.github/workflows/patchhound-scan.yaml
    secrets:
      BASE_URL: ${{ secrets.BASE_URL }}
      ALERT_WEBHOOK: ${{ secrets.ALERT_WEBHOOK }}
      TOKEN: ${{ secrets.TOKEN }}
      # PatchHound secrets
      
  verify-rebase:
    if: always()
    uses: ./.github/workflows/verify-rebase.yaml
    secrets:
      GH_TOKEN: ${{ secrets.GH_REPO_PAT }}
      # rebase verify secrets
      
  verify-gitignore:
    if: always()
    uses: ./.github/workflows/verify-gitignore.yaml
    secrets:
      GH_TOKEN: ${{ secrets.GH_REPO_PAT }}
      # gitignore verify secrets
