name: Docker Build

on:
  workflow_call:
    inputs:
      WORK_DIR:
        required: true
        type: string
      IMAGE_NAME:
        required: true
        type: string
      IMAGE_TAG:
        required: true
        type: string
      WILDCARD_COMMAND:
        required: true
        type: string

permissions:
  contents: read
  packages: write

jobs:
  docker-build:
    runs-on: ubuntu-latest
    env:
      WORK_DIR: ${{ inputs.WORK_DIR }}
      IMAGE_NAME: ${{ inputs.IMAGE_NAME }}
      IMAGE_TAG: ${{ inputs.IMAGE_TAG }}
      WILDCARD_COMMAND: ${{ inputs.WILDCARD_COMMAND }}

    steps:

      - uses: actions/checkout@v3

      - name: Running wildcard command
        working-directory: ${{ github.workspace }}
        run: eval $WILDCARD_COMMAND

      - name: Log in to GHCR
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build Docker image
        working-directory: ${{ inputs.WORK_DIR }}
        run: docker build -t "$IMAGE_NAME:$IMAGE_TAG" .
      
      - name: Push Docker image to GHCR
        working-directory: ${{ inputs.WORK_DIR }}
        run: docker push "$IMAGE_NAME:$IMAGE_TAG"